# Environment Setup
PORT=3000
NODE_ENV=development

# Authentication
# Run `node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"` to generate a secure secret
JWT_SECRET=c243c44478506b33bd3bc8b70fca8c2088c9e63d76be5ba93bfd952b1e759ffb
JWT_EXPIRES_IN=7d

# GitHub OAuth (from Step 1.2)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Database Connection
# Replace with your actual PostgreSQL connection string
DATABASE_URL="postgresql://leetcommit:leetpassword@127.0.0.1:5433/leetcommit_db?schema=public"
